<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <img src="/assets/loveline.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#">Loveline</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/timeline">Memories</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/calendar">Calendar</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a *ngIf="loggedIn()" class="btn btn-outline-secondary" (click)="logout()">Logout</a>
      </form>
    </div>
  </div>
</nav>
