<div class="hello-wrapper">
  <div id="hello-container" [ngClass]="bgClass()">


    <h2 class=" title" style="padding-top: 200px !important; text-align: center">Hallo Janine
      <fa-icon [icon]="icon"></fa-icon>
    </h2>

    <p style="text-align: center">Du bist seit <strong>{{this.days}}</strong> Tagen mit Christian zusammen.</p>

  </div>
</div>
<div id="main-content">
  <div class="card-container upcoming-events">

    <h3>Freust du dich?</h3>

    <div *ngIf="(upcoming | async)?.length; else noAppointments">
      <div *ngFor="let item of upcoming | async">
        <app-event-row [appointment]="item"></app-event-row>
      </div>
    </div>
  </div>

  <div class="card-container random-memory">
    <h3>Weisst du noch?</h3>

    <div *ngIf="randomValue">
      <app-event-content [data]="randomValue"></app-event-content>

    </div>

  </div>

</div>


<ng-template #noAppointments>
  <p><i>Keine Termine gefunden :-(</i></p>
</ng-template>
