<div class="container-fluid"><h2 class="title">Login</h2>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="login()">

      <app-input [form]="form" label="Username" name="username" placeholder="Username"></app-input>
      <app-input [form]="form" type="password" label="Password" name="password" placeholder="****"></app-input>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Login</button>
      </div>
    </form>
  </div>
</div>
