<div class="timeline">

  <div *ngFor="let data of (data$ | async); let i = index; trackBy: identify">

    <div class="year-changer-holder">
      <div class="year-changer" *ngIf="yearChanged(data.date)">{{currentYear}}</div>
    </div>

    <div class="icon-holder">
      <div class="icon">
        <fa-icon [icon]="icon(data.type)"></fa-icon>
      </div>
      <div class="holder" [ngClass]="alignment(i)">

        <app-event-content [data]="data"></app-event-content>
      </div>
    </div>
  </div>
</div>

<div class="app-fab">
  <button class="fab-button" type="button" routerLink="/event/add">
    <fa-icon [icon]="faAdd"></fa-icon>
  </button>
</div>
