.timeline {
  border-left: 3px solid #ef224b;
  margin: -20px 16px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.year-changer-holder {
  margin: 20px auto;
  width: 100px;
}

.year-changer {
  background-color: #ef224b;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
}

.timeline .holder {
  padding-left: 26px;
}

.timeline .holder::before {
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffaebe;
  position: absolute;
  margin-left: -9px;
  margin-top: 12px;
}

.timeline .icon-holder::before {
  content: '';
  border: 3px solid #ef224b;
  background-color: #ffe2e2;
  border-radius: 20px;
  position: absolute;
  margin-left: -17px;
  margin-top: 6px;
  width: 31px;
  height: 31px;
}

.timeline .icon-holder .icon {
  position: absolute;
  margin-left: -9px;
  padding-top: 10px;
}

