/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.ng-bar-placeholder {
  height: 5px !important; // default: 2px, thick: 3px
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #38353a;
  font-family: "Ubuntu Light";
}

h2.title {
  padding-top: 20px !important;
  color: #c41d40 !important;
  font-family: "Ubuntu Condensed";
}

label {
  color: #b19c9c;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.app-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-fab button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: white;
  background-color: #ef224b;
  border: none;
  box-shadow: 0px 0px 10px black;
}


.app-fab button:hover {
  background-color: #c41d40;
}

.app-fab .svg-inline--fa {
  height: 3em;
  padding-top: 3px;
}

p {
  color: #ffe2e2;
  text-align: justify;
  font-family: "Ubuntu Light";
}

a {
  font-weight: bold;
  color: #c41d40;
  text-decoration: none;
}

h3 {
  color: #ffe8d5;
  font-family: "Ubuntu Condensed";
}

.nav-item {
  border-bottom: 1px solid #818181;
}
